[submodule "neovim_config"]
	path = nvim
	url = git@github.com:Vin-Cento/neovim_config.git
[submodule "zsh/spaceship-prompt"]
	path = zsh/spaceship-prompt
	url = git@github.com:spaceship-prompt/spaceship-prompt.git
[submodule "zsh/z.lua"]
	path = zsh/z.lua
	url = git@github.com:skywind3000/z.lua.git
